<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
      Name="SIDEY $(DisplayVersion)"
      Manufacturer="SIDEY"
      Version="$(BundleVersion)"
      UpgradeCode="E806500D-491D-4CFF-B29A-41F7936D9BFE"
      Compressed="yes">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
          Theme="hyperlinkLicense"
          LicenseUrl=""
          ShowVersion="yes"
          SuppressOptionsUI="yes"
          SuppressDowngradeFailure="no"
          LaunchTarget="[ProgramFiles64Folder]SIDEY\SIDEY.exe" />
    </BootstrapperApplication>
    <Chain>
      <MsiPackage
          SourceFile="$(MsiPath)"
          Compressed="yes"
          Visible="no"
          Vital="yes">
        <MsiProperty Name="MSIRESTARTMANAGERCONTROL" Value="Enable" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
